---
import { Image } from 'astro:assets';
---

<article class="flex flex-col gap-5">
    <section class="flex flex-col-reverse md:flex-row gap-5">
        <Image src="/imgs/about.webp" alt="Imagen de Fernando Muñoz" width={880} height={1030} layout="responsive" class="md:size-72 lg:size-96 rounded-3xl" />
        <div class="flex flex-col gap-y-5 text-lg">
            <!-- TODO: Agregar el en alguna parte otras habilidades o certificados, como mi nivel de inglés -->
            <p class="prose">
                Me llamo Fernando Muñoz, soy egresado de Ingeniería en Informática con experiencia en <span class="text-mainBg">Desarrollo Web Full Stack</span>. Especializado en tecnologías <span class="text-mainBg">JavaScript</span>, incluyendo frameworks como <span class="text-mainBg">React, Astro, Node.js y más.</span>
            </p>
            <p class="prose">
                Hablante nativo de español, también hablo <span class="text-mainBg">inglés</span> (certificado B2 TOEIC). Hábil en la creación de <span class="text-mainBg">aplicaciones escalables</span> y de <span class="text-mainBg">alto rendimiento</span>, con un enfoque en el desarrollo ágil y la optimización de la experiencia de usuario. Comprometido con el aprendizaje continuo y la implementación de mejores prácticas en desarrollo de software.
            </p>
        </div>
    </section>
    <!-- TODO: Crear sección con las habilidades principales -->
    <!-- <section>
        <h3>Habilidades Principales</h3>
    </section> -->
</article>