<a {... Astro.props}
    class="opacity-85 transition hover:text-mainBg hover:opacity-100 hover:scale-110 focus:text-mainBg focus:opacity-100 focus:scale-110 focus:outline focus:outline-2 outline-mainBg focus:rounded-full focus:p-1"
>
    <slot />
</a>