---
import ExperienceItem from "./ExperienceItem.astro"
import { getCollection } from 'astro:content';

const EXPERIENCES = await getCollection("experience");
---

<ol class="relative border-s border-gray-600 dark:border-white ml-3.5">                  
    {
        EXPERIENCES.map(async (experience) => {
            const { data } = experience;
            return (
                <li class="mb-10 ms-4">
                    <ExperienceItem {...data} experience={experience} />
                </li>
            );
        })
    }
</ol>